<div class="ui-g">
<!-- zona con i pulsanti per la gestione-->
<div class="ui-g-12">
      <p-fileUpload mode = "basic"
        name ="myFile[]"
        url="./upload.php"
        accept="*.txt" ></p-fileUpload>
  </div>
  <!--zona finale del menu da cui si può generare i grafici -->
  <div class="ui-g-12">
      <button pButton
      class="ui-button-rounded"
      label="Genera Stats"
      icon="pi pi-play"
      iconPos="left"></button>
  </div>
</div>
<div class="ui-g">
<!-- zona contenente l'elenco dei file caricati -->
</div>
