.panel-body {
	color: blue;
	text-align: center;
	height: 800px;
	background-image: url("../../../assets/bkg_2.jpg");
	background-repeat: no-repeat;
	background-position: center; /* Center the image */
  background-size: auto;
}

.title {
	margin-top:0px;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.desc {
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
